<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
    <rewrite>
    <rules>
		<rule name="隐藏index.php" stopProcessing="true">
			<match url="^(.*)$" />
			<conditions logicalGrouping="MatchAll">
				<add input="{HTTP_HOST}" pattern="^(.*)$" />
				<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
				<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
			</conditions>
			<action type="Rewrite" url="index.php/{R:1}" />
		</rule>
    </rules>
    </rewrite>
		<security>
          <requestFiltering allowDoubleEscaping="True" />
        </security>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <handlers>
            <remove name="php_fastcgi" />
            <add name="php_fastcgi" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\software\php7.0\php-cgi.exe" resourceType="File" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
